html {
    min-height: 100vh;
}
.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 100;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    background: rgba(70, 130, 180, 0.4);
    color: white;
    padding: 1em 0;
    position: relative;
}

header::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo a:hover,
.logo a:focus {
    background: rgba(70, 130, 180, 0.9);
    color: white;
    text-decoration: none;
    border: none;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: rgba(70, 130, 180, 0.3);
    z-index: 1000;
    height: 0px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter:blur(4px);
}

.site-nav--open {
    height: auto;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid rgba(70, 130, 180, 0.5);

}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus {
    background: rgba(70, 130, 180, 0.9);
    color: white;
    text-decoration: none;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin: 1em;
    width: 1em;
    text-align: right;
    color:rgba(255, 255, 255, .4)
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: white;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 150ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg); 
}

@media (min-width: 700px) {
    .logo {
        border: none;
        float: left;
        font-size: 1rem;
        margin: 0;
        font-weight: 700;
        text-decoration: none;
        color: white;
    }

     .menu-toggle {
        display: none;
     }

     .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
     }

     .site-nav li {
        display: inline-block;
        border: none;
     }

     .site-nav a {
        padding: 0;
        margin-left: 3em;
     }

     .site-nav a:hover,
     .site-nav a:focus {
        background: transparent;
     }

    .site-nav--icon {
        display: none !important;
    }
} 

body.home {
    background-image: url("resources/index_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 2.5rem;
}

body.about{
    background-image: url("resources/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body.projects{
    background-image: url("resources/htmlcode.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body.contact{
    background-image: url("resources/contact_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

#welcome{
    padding-top: 10px;
    margin-top: 10px;
    z-index: 100;
    position: relative;
    text-align: center;
    color: white;
}

#name {
    font-size: 75px;
}

.prog {
    background-color: rgba(1, 13, 71, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
}
#tech {
    background-color: rgba(1, 13, 71, 0.5);
    width: 50%;
    margin-left: 350px;
    border-radius: 25px;
}

#html {
     height: 75px;
     margin-right: 20px;
}

#python {
    height: 75px;
    margin-right: 20px;
}

#flask {
    height: 75px;
    margin-right: 20px;
}

#clogo {
    height: 75px;
}

.P-title, .P-title1, .P-title2 {
    text-align: center;
}

#footer:hover {
    text-decoration: none;
}

#form{
    width: 25%;
    top: 25%;
}

.get-in-touch {
    position: absolute;
    top: 100%;
    bottom: 0px;
    left: 40%;
    color: white;
    text-align: center;
    padding-bottom: 10%;
    text-decoration: none;

}

a.get-in-touch:link {
    color:white;
    text-decoration: none;
}

a.get-in-touch:visited {
    color: white;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background: #111;
    color: white;
}

